<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>
	<script type="text/javascript" language="javascript">
		$j = jQuery.noConflict();
	</script>
	<script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js">
	</script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/profileStyle.css' %}" />
</head>
<body ng-app="App">
	<div class="container">
		<div class="center" style="padding-left:42%">
			<img src="{% static 'login/images/logo.png' %}" alt="" />
		</div>
		<div class="row" text-align="right">
			Welcome {{request.session.username}}!!!!
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<div class="row">
						{% include "docEditor/editor.html" %}
					</div>
				</div>
				<div class="col-md-2">
					<div class="col-md-2" ng-controller="cnt">
                        <button type="button" class="btn btn-primary" ng-click="ht()">My Editors</button>
					       <div id="history" name="history">
					       </div>							
                    </div>
				</div>
			</div>
		</div>
	</div>

    <script>
		function getUrl(){
			editorId = $("#editorId").val()
			$("#url").attr("value","10.0.0.7:8000/docEditor/editor/"+editorId+"/");
			$("#url").toggle();
		}
		app.controller('cnt', ['$scope','$http', function($scope, $http) {
			$scope.ht = function(){
			$scope.historyData = []
			$http({
					method: 'POST',
					url: '/docEditor/userHistory/',
					data: {"username":$("#username").val()},
					headers: {'Content-Type': 'application/json'},
				}).success(function(response){
					var newData = JSON.parse(response.history)
					var myEl = angular.element( document.querySelector( '#history' ) );
					myEl.empty();
					angular.forEach(newData, function(value, key) {
						myEl.append('<a href=/docEditor/editor/'+value.editor_id+'>DocEditor(Id='+value.editor_id+')</a><br/>');
					});
				});
			}
		}]);
	</script>
</body>
</html>
