@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* line 8, ../scss/style.scss */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* line 38, ../scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 42, ../scss/style.scss */
html {
  height: 100%;
}

/* line 46, ../scss/style.scss */
body {
  background-color: #2c3338;
  color: #606468;
  font: 400 0.875rem/1.5 "Open Sans", sans-serif;
  margin: 0;
  min-height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
}

/* line 57, ../scss/style.scss */
a {
  color: #eee;
  outline: 0;
  text-decoration: none;
}
/* line 62, ../scss/style.scss */
a:focus, a:hover {
  text-decoration: none;
  color: #666666;
}

/* line 70, ../scss/style.scss */
input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color .3s;
}

/* line 84, ../scss/style.scss */
.site__container {
  flex: 1;
  padding: 3rem 0;
}

/* line 90, ../scss/style.scss */
button {
  border-radius: 0.25rem;
  padding: 5px 10px;
  width: 100px;
  background-color: #ea4c88;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  border: 0 none;
}
/* line 99, ../scss/style.scss */
button:focus, button:hover {
  background-color: #d44179;
}

/* line 112, ../scss/style.scss */
.form input[type="password"], .form input[type="text"], .form input[type="submit"],.form input[type="email"]{
  width: 100%;
}
/* line 117, ../scss/style.scss */
.form input[type="button"] {
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100px;
}
/* line 124, ../scss/style.scss */
.form--login {
  color: #606468;
}
/* line 127, ../scss/style.scss */
.form--login label,
.form--login input[type="number"],
.form--login input[type="text"],
.form--login input[type="password"],
.form--login input[type="submit"], .form--login[type="button"],.form input[type="email"] {
  border-radius: 0.25rem;
  padding: 1rem;
}
/* line 135, ../scss/style.scss */
.form--login input[type="submit"] {
  width: 130px;
}
/* line 138, ../scss/style.scss */
.form--login label {
  background-color: #363b41;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
/* line 145, ../scss/style.scss */
.form--login select {
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 0 none;
  width: 100%;
  padding: 1rem;
  color: inherit;
}
/* line 150, ../scss/style.scss */
.form--login select option {
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: #fff;
  width: 100%;
}
/* line 159, ../scss/style.scss */
.form--login select:focus, .form--login select:hover {
  background-color: #434A52;
}
/* line 167, ../scss/style.scss */
.form--login input[type="text"], .form--login input[type="password"],.form--login input[type="number"],.form--login input[type="email"]
 {
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/* line 173, ../scss/style.scss */
.form--login input[type="text"]:focus, .form--login input[type="text"]:hover, .form--login input[type="password"]:focus, .form--login input[type="password"]:hover,.form--login input[type="number"]:hover,.form--login input[type="email"]:hover{
  background-color: #434A52;
}
span.error{color:RED;padding:0px 0 10px 0;float: Left;width:100%;}
/* line 180, ../scss/style.scss */
.form--login input[type="submit"], .form--login input[type="button"] {
  background-color: #ea4c88;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 186, ../scss/style.scss */
.form--login input[type="submit"]:focus, .form--login input[type="submit"]:hover, .form--login input[type="button"]:focus, .form--login input[type="button"]:hover {
  background-color: #d44179;
}
/* line 197, ../scss/style.scss */
.form__field {
  display: flex;
  margin-bottom: 1rem;
}
/* line 202, ../scss/style.scss */
.form__input {
  flex: 1;
}

/* line 210, ../scss/style.scss */
.align {
  align-items: center;
  display: flex;
  flex-direction: row;
}

/* line 216, ../scss/style.scss */
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 231, ../scss/style.scss */
.grid__container {
  margin: 0 auto;
  max-width: 20rem;
  width: 90%;
}

/* line 241, ../scss/style.scss */
.text--center {
  padding-left: 0px;
}

/* line 247, ../scss/style.scss */
.signupbottom {
  margin: 0 auto;
  width: 100%;
}

/* line 252, ../scss/style.scss */
ul.main-menu li {
  list-style-type: none;
  float: left;
  padding: 15px 20px 5px 20px;
}
/* line 256, ../scss/style.scss */
ul.main-menu li span.fontawesome-plus-sign-alt, ul.main-menu li span.fontawesome-list {
  float: left;
  width: 30px;
  height: 30px;
}

/* line 263, ../scss/style.scss */
table {
  margin-top: 30px;
}
/* line 265, ../scss/style.scss */
table .selected {
  font-weight: bold;
  color: #ffffff;
}
/* line 268, ../scss/style.scss */
table .selected input {
  color: #000;
}
/* line 270, ../scss/style.scss */
table th {
  text-align: left;
  padding: 20px;
  color: #fff;
}
/* line 272, ../scss/style.scss */
table td {
  padding: 10px 20px;
  width: 25%;
  border-top: 1px solid #ffffff;
}
/* line 275, ../scss/style.scss */
table tbody th {
  padding: 10px 20px;
  width: 25%;
  border-top: 1px solid #ffffff;
  color: #606468;
  font-weight: normal;
}
/* line 278, ../scss/style.scss */
table tbody .selected th {
  color: #ffffff;
}
/* line 282, ../scss/style.scss */
table tbody input[type='number'] {
  width: 60px;
  text-align: center;
}
/* line 287, ../scss/style.scss */
table tbody .footer td {
  color: #ffffff;
  font-weight: bold;
}

/* line 291, ../scss/style.scss */
input.ng-dirty.ng-invalid {
  border: 1px solid red;
}
